<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Members </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>
<div class="container">
    <h3>Member Directory</h3>
    <hr/>

    <a th:href="@{/members/showFormForAdd}" class="btn btn-primary btn-sm mb-3">
        Add Member
    </a>

    <table class="table table-boarder table-striped" >
        <thead class="thead-dark">
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email Address</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.firstName}" />
            <td th:text="${member.lastName}" />
            <td th:text="${member.email}" />
            <td>
                <!-- Update button -->
                <a th:href="@{/members/showFromForUpdate(memberId=${member.id})}" class="btn btn-info btn-sm">
                    Update
                </a>
                <!-- Delete button -->
                <a th:href="@{/members/delete(memberId=${member.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if(!(confirm('Are you sure you want to delete this member?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>