<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">

<head>
    <title>Add Member </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>
<div class="container">
    <h3>Member Directory</h3>
    <hr/>

    <p class="h4 mb-4"> Save Member </p>
    <form action="#" th:action="@{/members/save}" th:object="${member}" method="post">

        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{firstName}" class="form-control mb-4 col-4" placeholder="First Name">
        <input type="text" th:field="*{lastName}" class="form-control mb-4 col-4" placeholder="Last Name">
        <input type="text" th:field="*{email}" class="form-control mb-4 col-4" placeholder="Email Address">

        <button type="submit" class="btn btn-info col-2"> Save </button>
    </form>

    <br/>
    <a th:href="@{/members/list}"> Back to Members List</a>
</div>
</body>
</html>